html, body{
	height:100%;
	margin:0;
	padding:0;
	max-height:100%;
	max-width:100%;
	background-color:#018DEF;
}
div{
	display:inline;
	color:#2F2F2F;
	margin:0 auto;
	padding:0;
	text-align:center;
}
div h1{
	margin:0;
	margin-right:9%;
	padding:0;
}
div img{
	margin:0;
	margin-top:4px;
	margin-left:4px;
	width:8%;
	float:left;
	padding:0;
}
img{
	margin:0 auto;
	display:block;
}
form input{
	margin:0 auto;
	display:block;
}
form h1{
	text-align:center;
	margin:0;
	padding:0;
}
form button{
	margin-top:10px;
	position:absolute;
	left:0;
	bottom:0;
	height:20%;
}
table {
    min-height:90%;
	max-height:90%;
	min-width:100%;
	max-width:100%;
	overflow:hidden;
    width:100%;
	padding:0;
	margin:0;
	table-layout:fixed;
}
div input{
	height:25%;
	display:block;
	margin:3px auto;
}
button{
	display:block;
	margin:5px auto;
	height:100%;
	width:90%;
	border-style:none;
	font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:5em;
	background-color:#0066FF;
	color:#FFCC00;
}
button:active {
    background-color:#003D99;
	border-style:none;
}
button:focus {outline:0;}
button .pictures {
width:100%;
	height:100%;}